$ version 1.1

# Signals in packages :
/cpu_tb/cpu/clk
/cpu_tb/cpu/led
/cpu_tb/cpu/sdram_controller/mc_in
/cpu_tb/cpu/sdram_controller/mc_out
/cpu_tb/cpu/sdram_controller/data_out
/cpu_tb/cpu/sdram_controller/sdram_data
/cpu_tb/cpu/sdram_controller/sdram_addr
/cpu_tb/cpu/sdram_controller/sdram_ba
/cpu_tb/cpu/sdram_controller/sdram_dqm
/cpu_tb/cpu/sdram_controller/state
/cpu_tb/cpu/sdram_controller/command
/cpu_tb/cpu/iexec/intr_nextpc
/cpu_tb/cpu/uart0/txd_byte
/cpu_tb/cpu/uart0/uart_tx
/cpu_tb/cpu/uart0/uart_rx

/cpu_tb/cpu/ifetch/pc
/cpu_tb/cpu/ifetch/inst
/cpu_tb/cpu/ifetch/idecode_in
/cpu_tb/cpu/ifetch/idecode_out

/cpu_tb/cpu/idecode/iexec_in
/cpu_tb/cpu/idecode/iexec_out

/cpu_tb/cpu/iexec/op_a
/cpu_tb/cpu/iexec/op_b

/cpu_tb/cpu/iexec/rd_write_data
/cpu_tb/cpu/iexec/regfile_wren_nz

/cpu_tb/cpu/iexec/cmd_result_mux
/cpu_tb/cpu/iexec/cxfer_mux
/cpu_tb/cpu/iexec/intr_trigger_save
/cpu_tb/cpu/iexec/dcache_write_data

