$ version 1.1

# Signals in packages :
cpu_types.sys_clk_freq

# Signals in entities :
/cpu_tb/cpu/uart0_tx
/cpu_tb/cpu/uart0_rx
/cpu_tb/cpu/clk
/cpu_tb/cpu/clk_n
/cpu_tb/cpu/pll_locked
/cpu_tb/cpu/reset_n
/cpu_tb/cpu/ifetch/clk
/cpu_tb/cpu/ifetch/clk_n
/cpu_tb/cpu/ifetch/enable
/cpu_tb/cpu/ifetch/idecode_in
/cpu_tb/cpu/ifetch/idecode_out
/cpu_tb/cpu/ifetch/icache_mc_in
/cpu_tb/cpu/ifetch/icache_mc_out
/cpu_tb/cpu/ifetch/sdc_data_out
/cpu_tb/cpu/ifetch/clk_cycle
/cpu_tb/cpu/ifetch/icache_hit
/cpu_tb/cpu/ifetch/pc
/cpu_tb/cpu/ifetch/inst
/cpu_tb/cpu/ifetch/icache_flush
/cpu_tb/cpu/ifetch/icache_flush_ack
/cpu_tb/cpu/ifetch/jmp_pc
/cpu_tb/cpu/ifetch/pc_p4
/cpu_tb/cpu/ifetch/cxfer_pending
/cpu_tb/cpu/ifetch/clk_cycle_r
/cpu_tb/cpu/idecode/clk
/cpu_tb/cpu/idecode/idecode_in
/cpu_tb/cpu/idecode/idecode_out
/cpu_tb/cpu/idecode/iexec_in
/cpu_tb/cpu/idecode/iexec_out
/cpu_tb/cpu/idecode/pc_r
/cpu_tb/cpu/idecode/inst_r
/cpu_tb/cpu/idecode/exec_valid
/cpu_tb/cpu/iexec/clk
/cpu_tb/cpu/iexec/clk_n
/cpu_tb/cpu/iexec/iexec_in
/cpu_tb/cpu/iexec/iexec_out
/cpu_tb/cpu/iexec/dcache_mc_in
/cpu_tb/cpu/iexec/dcache_mc_out
/cpu_tb/cpu/iexec/sdc_data_out
/cpu_tb/cpu/iexec/csr_in
/cpu_tb/cpu/iexec/csr_sel_result
/cpu_tb/cpu/iexec/clk_instret
/cpu_tb/cpu/iexec/intr_out
/cpu_tb/cpu/iexec/intr_reset
/cpu_tb/cpu/iexec/ivector_addr
/cpu_tb/cpu/iexec/ctx_pc_save
/cpu_tb/cpu/iexec/ctx_pc_switch
/cpu_tb/cpu/iexec/ctx_pc_save_r
/cpu_tb/cpu/iexec/regfile_wren
/cpu_tb/cpu/iexec/regfile_wren_nz
/cpu_tb/cpu/iexec/regfile_wraddr
/cpu_tb/cpu/iexec/rd_write_data
/cpu_tb/cpu/iexec/rs1_read_data
/cpu_tb/cpu/iexec/rs2_read_data
/cpu_tb/cpu/iexec/alu_result
/cpu_tb/cpu/iexec/br_result
/cpu_tb/cpu/iexec/cmd_result_mux
/cpu_tb/cpu/iexec/shift_result
/cpu_tb/cpu/iexec/cxfer_mux
/cpu_tb/cpu/iexec/cxfer_pc
/cpu_tb/cpu/iexec/trigger_cxfer
/cpu_tb/cpu/iexec/br_inst
/cpu_tb/cpu/iexec/dcache_addr
/cpu_tb/cpu/iexec/dcache_start
/cpu_tb/cpu/iexec/dcache_hit
/cpu_tb/cpu/iexec/dcache_read_data
/cpu_tb/cpu/iexec/dcache_write_data
/cpu_tb/cpu/iexec/dcache_wren
/cpu_tb/cpu/iexec/dcache_byteena
/cpu_tb/cpu/iexec/dcache_write_strobe
/cpu_tb/cpu/iexec/dcache_write_strobe_save
/cpu_tb/cpu/iexec/busy_r
/cpu_tb/cpu/iexec/op_a
/cpu_tb/cpu/iexec/op_b
/cpu_tb/cpu/iexec/alu_op
/cpu_tb/cpu/iexec/shift_bit
/cpu_tb/cpu/iexec/shift_dir_lr
/cpu_tb/cpu/iexec/ls_op
/cpu_tb/cpu/iexec/ls_load_sign
/cpu_tb/cpu/iexec/ls0
/cpu_tb/cpu/iexec/ls1
/cpu_tb/cpu/iexec/ls2
/cpu_tb/cpu/iexec/ls3
/cpu_tb/cpu/iexec/store_data
/cpu_tb/cpu/iexec/load_result
/cpu_tb/cpu/iexec/mul_result
/cpu_tb/cpu/iexec/div_result
/cpu_tb/cpu/iexec/intr_nextpc
/cpu_tb/cpu/iexec/div_ctr
/cpu_tb/cpu/iexec/csr_do_write
/cpu_tb/cpu/iexec/csr_wait_ctr
/cpu_tb/cpu/iexec/csr_op_valid_r
/cpu_tb/cpu/iexec/clk_instret_r
/cpu_tb/cpu/iexec/intr_trigger_save
/cpu_tb/cpu/iexec/intr_reset_r
/cpu_tb/cpu/iexec/state
/cpu_tb/cpu/iexec/alu/a
/cpu_tb/cpu/iexec/alu/b
/cpu_tb/cpu/iexec/alu/op
/cpu_tb/cpu/iexec/alu/result
/cpu_tb/cpu/iexec/alu/result_br
/cpu_tb/cpu/iexec/alu/result_add
/cpu_tb/cpu/iexec/alu/result_sub
/cpu_tb/cpu/iexec/alu/result_lt
/cpu_tb/cpu/iexec/alu/result_ltu
/cpu_tb/cpu/iexec/alu/result_and
/cpu_tb/cpu/iexec/alu/result_or
/cpu_tb/cpu/iexec/alu/result_xor
/cpu_tb/cpu/iexec/alu/result_br_eq
/cpu_tb/cpu/iexec/alu/result_br_mux
/cpu_tb/cpu/iexec/muldiv/clk
/cpu_tb/cpu/iexec/muldiv/a
/cpu_tb/cpu/iexec/muldiv/b
/cpu_tb/cpu/iexec/muldiv/op
/cpu_tb/cpu/iexec/shift/shift_data
/cpu_tb/cpu/iexec/shift/shift_amt
/cpu_tb/cpu/iexec/shift/shift_bit
/cpu_tb/cpu/iexec/shift/shift_dir_lr
/cpu_tb/cpu/iexec/shift/shift_result
/cpu_tb/cpu/iexec/shift/shiftrx_stage1_result_a
/cpu_tb/cpu/iexec/shift/shiftrx_stage1_result_b
/cpu_tb/cpu/iexec/shift/shiftll_stage1_result_a
/cpu_tb/cpu/iexec/shift/shiftll_stage1_result_b
/cpu_tb/cpu/iexec/shift/shiftll_result
/cpu_tb/cpu/iexec/shift/shiftrx_result
/cpu_tb/cpu/iexec/shift/shiftrx_bit
/cpu_tb/cpu/iexec/dcache/clk
/cpu_tb/cpu/iexec/dcache/clk_n
/cpu_tb/cpu/iexec/dcache/addr
/cpu_tb/cpu/iexec/dcache/start
/cpu_tb/cpu/iexec/dcache/hit
/cpu_tb/cpu/iexec/dcache/read_data
/cpu_tb/cpu/iexec/dcache/wren
/cpu_tb/cpu/iexec/dcache/byteena
/cpu_tb/cpu/iexec/dcache/write_strobe
/cpu_tb/cpu/iexec/dcache/write_data
/cpu_tb/cpu/iexec/dcache/mc_in
/cpu_tb/cpu/iexec/dcache/mc_out
/cpu_tb/cpu/iexec/dcache/sdc_data_out
/cpu_tb/cpu/iexec/dcache/start_save
/cpu_tb/cpu/iexec/dcache/meta
/cpu_tb/cpu/iexec/dcache/meta_wren
/cpu_tb/cpu/iexec/dcache/data0
/cpu_tb/cpu/iexec/dcache/data1
/cpu_tb/cpu/iexec/dcache/data2
/cpu_tb/cpu/iexec/dcache/data3
/cpu_tb/cpu/iexec/dcache/data0_wren
/cpu_tb/cpu/iexec/dcache/data1_wren
/cpu_tb/cpu/iexec/dcache/data2_wren
/cpu_tb/cpu/iexec/dcache/data3_wren
/cpu_tb/cpu/iexec/dcache/mc_op_start
/cpu_tb/cpu/iexec/dcache/state
/cpu_tb/cpu/iexec/dcache/line_hit
/cpu_tb/cpu/iexec/dcache/meta_write
/cpu_tb/cpu/iexec/dcache/meta_write_line_valid
/cpu_tb/cpu/iexec/dcache/meta_write_line_dirty
/cpu_tb/cpu/iexec/dcache/cache_byteena
/cpu_tb/cpu/iexec/dcache/cache_write_data
/cpu_tb/cpu/iexec/dcache/cache_write_data_b0
/cpu_tb/cpu/iexec/dcache/cache_write_data_b1
/cpu_tb/cpu/iexec/dcache/cache_write_data_b2
/cpu_tb/cpu/iexec/dcache/cache_write_data_b3
/cpu_tb/cpu/iexec/dcache/cache_write_data_byteena0
/cpu_tb/cpu/iexec/dcache/cache_write_data_byteena1
/cpu_tb/cpu/iexec/dcache/cache_write_data_byteena2
/cpu_tb/cpu/iexec/dcache/cache_write_data_byteena3
/cpu_tb/cpu/iexec/dcache/cache_data
/cpu_tb/cpu/iexec/dcache/data_byteenaall
/cpu_tb/cpu/iexec/dcache/write_strobe_r
/cpu_tb/cpu/iexec/dcache/counter
/cpu_tb/cpu/uart0/clk
/cpu_tb/cpu/uart0/reset
/cpu_tb/cpu/uart0/csr_in
/cpu_tb/cpu/uart0/csr_sel_result
/cpu_tb/cpu/uart0/pdma_in
/cpu_tb/cpu/uart0/pdma_out
/cpu_tb/cpu/uart0/tx_intr_toggle
/cpu_tb/cpu/uart0/rx_intr_toggle
/cpu_tb/cpu/uart0/uart_tx
/cpu_tb/cpu/uart0/uart_rx
/cpu_tb/cpu/uart0/tx_baud
/cpu_tb/cpu/uart0/tx_ctrl
/cpu_tb/cpu/uart0/tx_buf_len
/cpu_tb/cpu/uart0/tx_buf_curpos
/cpu_tb/cpu/uart0/rx_ctrl
/cpu_tb/cpu/uart0/rx_buf_curpos
/cpu_tb/cpu/uart0/tx_intr_toggle_r
/cpu_tb/cpu/uart0/rx_intr_toggle_r
/cpu_tb/cpu/uart0/tx_clk
/cpu_tb/cpu/uart0/tx_clk_ctr
/cpu_tb/cpu/uart0/txd_start
/cpu_tb/cpu/uart0/txd_byte
/cpu_tb/cpu/uart0/txd_bitnr
/cpu_tb/cpu/uart0/txd_start_ack
/cpu_tb/cpu/uart0/tx_state
/cpu_tb/cpu/uart0/read_r
/cpu_tb/cpu/uart0/write_r
/cpu_tb/cpu/uart0/rxd_state
/cpu_tb/cpu/uart0/rx_baud_a
/cpu_tb/cpu/uart0/rx_baud_b
/cpu_tb/cpu/uart0/rx_shreg_data
/cpu_tb/cpu/uart0/rx_datareg_clk
/cpu_tb/cpu/uart0/rx_datareg_data
/cpu_tb/cpu/uart0/rx_reset_curpos
/cpu_tb/cpu/uart0/rx_buf_len
/cpu_tb/cpu/uart0/rx_counter
/cpu_tb/cpu/uart0/rx_bitnr
/cpu_tb/cpu/uart0/rx_reset_curpos_ack
/cpu_tb/cpu/uart0/rx_shreg/data
/cpu_tb/cpu/uart0/rx_shreg/clock
/cpu_tb/cpu/uart0/rx_shreg/enable
/cpu_tb/cpu/uart0/rx_shreg/shiftin
/cpu_tb/cpu/uart0/rx_shreg/load
/cpu_tb/cpu/uart0/rx_shreg/aclr
/cpu_tb/cpu/uart0/rx_shreg/aset
/cpu_tb/cpu/uart0/rx_shreg/sclr
/cpu_tb/cpu/uart0/rx_shreg/sset
/cpu_tb/cpu/uart0/rx_shreg/q
/cpu_tb/cpu/uart0/rx_shreg/shiftout
/cpu_tb/cpu/uart0/rx_shreg/i_q
/cpu_tb/cpu/uart0/rx_shreg/init
/cpu_tb/cpu/uart0/rx_shreg/tmp_init
/cpu_tb/cpu/uart0/rx_shreg/i_shiftout_pos
/cpu_tb/cpu/uart0/rx_datreg/data
/cpu_tb/cpu/uart0/rx_datreg/clock
/cpu_tb/cpu/uart0/rx_datreg/enable
/cpu_tb/cpu/uart0/rx_datreg/shiftin
/cpu_tb/cpu/uart0/rx_datreg/load
/cpu_tb/cpu/uart0/rx_datreg/aclr
/cpu_tb/cpu/uart0/rx_datreg/aset
/cpu_tb/cpu/uart0/rx_datreg/sclr
/cpu_tb/cpu/uart0/rx_datreg/sset
/cpu_tb/cpu/uart0/rx_datreg/q
/cpu_tb/cpu/uart0/rx_datreg/shiftout
/cpu_tb/cpu/uart0/rx_datreg/i_q
/cpu_tb/cpu/uart0/rx_datreg/init
/cpu_tb/cpu/uart0/rx_datreg/tmp_init
/cpu_tb/cpu/uart0/rx_datreg/i_shiftout_pos
